.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  ion-card {
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  .loginImagen {
    width: 50%;
    height: auto;
    padding: 5%;
  }
  
  .title-centered {
    text-align: center;
  }
  