<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-centered">
      Inicio de Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="title-centered">Inicio de Sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="login">
    <h1>Inicio de Sesión - Gestor de Tareas Diarias</h1>
    <form>
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <div class="button-container">
        <ion-button expand="block" type="submit">Iniciar Sesión</ion-button>
      </div>
    </form>
  </div>
</ion-content>
