<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="settings-container">
    <div class="settings-group">
      <ion-item>
        <ion-label>Recibir Notificaciones</ion-label>
        <ion-toggle name="notificationsToggle"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Modo Oscuro</ion-label>
        <ion-toggle name="themeToggle"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Idioma</ion-label>
        <ion-select placeholder="Seleccionar">
          <ion-select-option value="es">Español</ion-select-option>
          <ion-select-option value="en">Inglés</ion-select-option>
          <ion-select-option value="fr">Francés</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item button>
        <ion-label>Cerrar Sesión</ion-label>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-item>
    </div>
    <br>
    <ion-button id="rate-alert">Califica Nuestra Aplicación</ion-button>
    <ion-alert
      trigger="rate-alert"
      header="Califica Nuestra Aplicación"
      [buttons]="alertButtons"
      (didDismiss)="setResult($event)">
    </ion-alert>
  </div>
</ion-content>
